body{
    background-color: #373A40;
}

.text-color{
     color: #DC5F00;
}

.btn-text-color{
    border: 1px solid #DC5F00;
    background-color: #DC5F00;
    color: white;
}

.btn-text-color:hover{
    color: black;
    background-color: white;
}

.text-color-footer{
    background-color: #373A40;
}